#container {
	width:1000px;
	margin:auto;
	border:1px solid #ccc;
	padding:0;
}

.mainheading, .albumheading{
	text-align:center;
	padding:10px;
	margin:0;
}

.mainheading{
	background:#444;
	color:#eee;
}

.albumheading{
	color:#333;
}

.grid {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
}

.grid div {
	margin:25px;
	display: flex;
	height: 300px;
	align-items: flex-end;

}

.grid img{
	max-height: 275px;
	max-width: 200px;
	border-style: inset;
}

.name {
	display: block;
	background:#444;
	color:#eee;
	text-align: center;
	padding:10px 0;
	text-decoration: none;
}

.albumPage {
	display: flex;
}

.nav {
	width:100px;
	padding-top: 80px;
	background-color: #808080;
}

.nav a {
	display:block;
	margin:20px 0;
	text-decoration: none;
	color:white;
}

.photoHeader {
	text-align:center;
	padding:10px;
	margin:0;
}

.photoView img {
	border-style:inset;
	display: flex;
	justify-content: space-around;
	margin:auto;
	min-height: 500px;
	min-width: 300px;

}

.photoTitle {
	display: block;
	text-align: center;
	text-decoration: none;
}